
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<style>
    .logo1 {
  width: 140px !important; /* Example width */
  height: auto !important; /* Example height */
  /* Add other styles as needed */
}

</style><meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Daraz Mall</title>
<link href="{% static 'style.css' %}" rel="stylesheet"/>
<link href="{% static 'colors.css' %}" rel="stylesheet"/>
<link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet"/>
</head>
<body>
<!-- Navbar -->
<nav class="bg-white dark:border-gray-700 shadow-lg shadow-[#F9F9F9] mb-3">
<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
<a class="flex items-center space-x-3 rtl:space-x-reverse" href="#">
<img alt="Darazz Mall Logo" class="h-8 logo1" src="{% static 'logo1.png' %}"/>
<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
</a>
<button aria-controls="navbar-multi-level" aria-expanded="false" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" data-collapse-toggle="navbar-multi-level" type="button">
<span class="sr-only">Open main menu</span>
<svg aria-hidden="true" class="w-5 h-5" fill="none" viewbox="0 0 17 14" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1h15M1 7h15M1 13h15" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
</svg>
</button>
<div class="hidden w-full md:block md:w-auto" id="navbar-multi-level">
 {% if user.is_authenticated %}
        <!-- Show the "Logout" button only when the user is authenticated -->
         <a href="/logout/" class="bg-gradient-to-tr from-[#2000d1] to-[#373ff0] px-5 py-2 rounded-lg text-white hover:bg-gradient-to-bl">
            Logout
        </a>
        {% endif %}
</div>
</div>
</nav>
<!-- Navbar end -->
<!-- Plans -->
<div class="text-center pt-8 text-[50px] font-bold">
<h1>Team Commission Plans</h1>
</div>
<div class="flex justify-center items-center">
<div class="my-10 grid sm:grid-cols-1 md:grid-cols-2 gap-2 lg:grid-cols-4">
            {% for plan in plans %}
<div class="max-w-xs text-center m-4 bg-white border border-gray-200 rounded-lg shadow md:col-span-1" data-aos="fade-right">
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
<a href="#">
<img alt="" class="rounded-t-lg mx-auto" src="/media/{{plan.image}}"/>
</a>
<div class="p-5">
<a href="#">
<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                            {{ plan.plan_name }}</h5>
</a>
<p class="mb-3 font-normal text-gray-700">
<p> {{ plan.investment }} PKR Investment</p>
<p>Direct Commission {{ plan.daily_earning_balance }} Rupees</p>
<p>{{ plan.products  }} PKR Daily Earning</p>
<p>{{ plan.daily_earning }} Products</p>
<p>{{ plan.per_product_earning }} PKR Per Product Earning</p>


</p>

<a class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[--orange] rounded-lg hover:bg-white hover:text-[--orange] select_btn" href="/payment/{{plan.url}}/">
                            Select Plan
                            <svg aria-hidden="true" class="rtl:rotate-180 w-3.5 h-3.5 ms-2" fill="none" viewbox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
<path d="M1 5h12m0 0L9 1m4 4L9 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
</svg>
</a>
</div>
</div>
</div>
        {% endfor %}
</div>
</div>
<!-- Plans end -->
<!-- Footer -->
<footer>
<div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
<div class="sm:flex sm:items-center sm:justify-between">
<a class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse" href="https://flowbite.com/">
<img alt="Flowbite Logo" class="h-8" src="{% static 'logo1.png' %}"/>
<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Darazz
                        Mall</span>
</a>
<ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0">
<li>
<a class="hover:underline me-4 md:me-6" href="#">About</a>
</li>
<li>
<a class="hover:underline me-4 md:me-6" href="#">Privacy Policy</a>
</li>
<li>
<a class="hover:underline me-4 md:me-6" href="#">Licensing</a>
</li>
<li>
<a class="hover:underline" href="#">Contact</a>
</li>
</ul>
</div>
<hr class="my-4 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
<span class="block text-sm text-gray-500 sm:text-center">© 2023
                <a class="hover:underline" href="https://flowbite.com/">Flowbite™</a>.
                All Rights Reserved.</span>
</div>
</footer>
<!-- Footer end -->
<script src="https://cdn.tailwindcss.com"></script>
<script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: "#da373d",
                    },
                },
            },
        };
    </script>
<!-- AOS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
        AOS.init();
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>

